@(title: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link href="@routes.Assets.versioned("images/favicon.png")" rel="shortcut icon" type="image/png">

        <link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("stylesheets/leaflet.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("stylesheets/MarkerCluster.Default.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("stylesheets/font-awesome.min.css")" rel="stylesheet">
        <!-- Loads the datepicker library's CSS files. -->
        <link href="@routes.Assets.versioned("stylesheets/classic.css")" media="screen" rel="stylesheet">
        <link href="@routes.Assets.versioned("stylesheets/classic.date.css")" media="screen" rel="stylesheet">
        <link href="@routes.Assets.versioned("stylesheets/style.css")" media="screen" rel="stylesheet">
        <!-- Loads the CSS file used by the Leaflet.draw library. -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.css" />

        <script src="@routes.Assets.versioned("javascripts/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <!-- Loads the datepicker library. -->
        <script src="@routes.Assets.versioned("javascripts/picker.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/picker.date.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/legacy.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery.fileDownload.js")" type="text/javascript"></script>
    </head>
    <body>
