@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to GeoTwit!") {
    <div class="home-page">
        <span class="helper"></span>
        <div class="home-title">
            GeoTwit
        </div>
        <span class="home-slogan">Search for Tweets, pin them on a map and analyze data with real-time tools!</span>
        <a class="btn btn-primary get-started-button">Get Started</a>
    </div>
}
