@(status: String)

@*
 * Call the `mainIndex` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 * The 'main' template is used to properly format all pages but
 * the index, which is differently presented.
 *@
@mainIndex("Welcome to GeoTwit!") {
    <div class="home-page">
        <span class="helper"></span>
        <div class="home-title">
            GeoTwit
        </div>
        <div class="home-slogan">Search for Tweets and visualize real-time activities on a map!</div>
        <a class="btn btn-primary get-started-button" href="@routes.HomeController.auth">Get Started</a>

        @if(status != "success") {
            <div class="alert alert-danger home-error">
                <span aria-hidden="true" class="fa fa-exclamation-circle"></span>
                @status match {
                    case "errorGettingApplicationToken" => {An error occurred when trying to connect to Twitter, please retry in a while.}
                    case "errorDenied"                  => {You denied the access to your account so you cannot access the web site's tools.}
                    case "sessionExpired"               => {Your session has expired, please reconnect.}
                    case _                              => {An error occurred, please retry in a while.}
                }
            </div>
        }
    </div>
}
