@*
 * This template is called from all templates but the `index` one.
 * This template handles the rendering of the page header and body
 * tags. It takes two arguments, a `String` for the title of the
 * page and an `Html` object to insert into the body of the page.
 *@
@(title: String)(content: Html)

@* Call the HTML header, which is the same for all templates. *@
@header(title)

<div class="header">
    <a class="header-title" href="@routes.SearchController.index">
        <img class="header-logo" src="@routes.Assets.versioned("images/logo2.svg")" />
        GeoTwit
    </a>
</div>
<div class="header-decoration"></div>

<div class="content-container">
    @* And here's where we render the `Html` object containing
     * the page content. *@
    @content
</div>

<div class="footer">
    GeoTwit, 2016
    <a href="http://www.freepik.com/free-photos-vectors/abstract">Abstract vector designed by Freepik</a>
</div>

@* Call the HTML footer. *@
@footer()
