<div class="search-content" id="searchContent">
    <h1 class="search-title">Let's analyze some Twitter's data...</h1>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="searchTabs" role="tablist">
        <li role="presentation" class="active"><a href="#dynamic" aria-controls="dynamic" role="tab" data-toggle="tab">Dynamic Mode</a></li>
        <li role="presentation"><a href="#static" id="tabStatic" aria-controls="static" role="tab" data-toggle="tab">Static Mode</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="dynamic">
            <h3 class="search-first-subtitle">First thing first: do you want to import a peviously generated data file?</h3>
            <div class="note">If you don't now what this option is about yet, just ignore it.</div>

            <input accept=".gt" data-url="@routes.SearchController.uploadAndParseFile" id="importedFile" name="importedFile" type="file" />
            <div class="progress progress-upload" id="progressUpload">
                <div aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="progress-bar" id="progressBarUpload" role="progressbar" style="width:0%">
                    <span id="uploadPercents">0</span>% Complete
                </div>
            </div>

            <div class="alert alert-danger upload-error" id="uploadError">
                <span id="uploadErrorText"></span>
            </div>

            <hr/>

            <div id="dynamicModeSearch">
                <h3 class="search-subtitle">1. First enter keyword(s)</h3>
                <div class="search-subcontent">
                    <div class="form-group">
                        <label for="keywordSetOr">Keyword(s) set (separate your words with <u>spaces</u> - max. 60 characters per field)</label>
                        <input type="text" class="form-control" id="streamingFirstKeywordSetOr" maxlength="60" placeholder="One of these keywords...">
                        <input type="text" class="form-control group-field-bottom" id="streamingFirstKeywordSetAnd" maxlength="60" placeholder="All these keywords...">
                    </div>
                    <div class="form-group">
                        <label for="keywordSetOr">[Optional] Second keyword(s) set to compare against (separate your words with <u>spaces</u> - max. 60 characters per field)</label>
                        <input type="text" class="form-control" id="streamingSecondKeywordSetOr" placeholder="One of these keywords...">
                        <input type="text" class="form-control group-field-bottom" id="streamingSecondKeywordSetAnd" placeholder="All these keywords...">
                    </div>
                </div>

                <h3 class="search-subtitle">2. Then select a location to filter the Tweets</h3>
                <div class="search-subcontent">
                    Please select a default area <strong><u>or</u></strong> draw a rectangle area on the following map.<br/>
                    <table class="default-area-table">
                        <tr>
                            <td class="default-area-label">Default area:</td>
                            <td>
                                <select class="form-control horizontal-field" id="streamingDefaultArea">
                                  <option value="">select an area here or draw a rectangle on the map...</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <!-- This div will contain the dynamic mode's map. -->
                    <div class="search-map" id="dynamicMap"></div>
                </div>

                <h3 class="search-subtitle">3. Finally select the language in which you want the Tweets to be written</h3>
                <div class="search-subcontent">
                    <div class="note">Note that some Tweets written in another language may still appear, because of the location of the user who wrote it.</div>
                    <!-- I took this languages list in the advanced search page of Twitter (https://twitter.com/search-advanced) -->
                    <select class="form-control" id="dynamicLanguage">
                        <option selected="selected" value="">Any Language</option>
                    </select>
                </div>

                <br/>

                <div class="alert alert-danger error-search" id="errorDynamicSearch"></div>

                <button class="btn btn-primary btn-dynamic-search" id="startStreamingBtn">Start Streaming!</button>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="static">
            <h3 class="search-first-subtitle">1. First enter keyword(s), separated by <u>spaces</u></h3>
            <div class="search-subcontent">
                <div class="form-group">
                    <label for="keywordSetOr">Keyword(s) set (separate your words with <u>spaces</u> - max. 60 characters per field)</label>
                    <input type="text" class="form-control" id="staticFirstKeywordSetOr" maxlength="60" placeholder="One of these keywords...">
                    <input type="text" class="form-control group-field-bottom" id="staticFirstKeywordSetAnd" maxlength="60" placeholder="All these keywords...">
                </div>
                <div class="form-group">
                    <label for="keywordSetOr">[Optional] Second keyword(s) set to compare against (separate your words with <u>spaces</u> - max. 60 characters per field)</label>
                    <input type="text" class="form-control" id="staticSecondKeywordSetOr" placeholder="One of these keywords...">
                    <input type="text" class="form-control group-field-bottom" id="staticSecondKeywordSetAnd" placeholder="All these keywords...">
                </div>
            </div>

            <h3 class="search-subtitle">2. Then enter the range of dates in which you want the Tweets to be searched</h3>
            <div class="search-subcontent">
                <div class="note date-note">
                    Since Twitter only allows us to get Tweets from <strong class="one-week-ago-label"><span id="maxDaysStaticSearch"></span> days ago</strong>,
                    you won't have any result if you search for Tweets <u>before the <strong class="one-week-ago-label" id="dateOneWeekAgo"></strong></u>.
                </div>
                <p>
                    <div class="form-inline">
                        <div class="form-group search-from-date">
                            <label class="date-label" for="staticFromDate">From: </label>
                            <input class="form-control" id="staticFromDate" type="text" />
                        </div>
                        <div class="form-group">
                            <label class="date-label" for="staticToDate">To: </label>
                            <input class="form-control" id="staticToDate" type="text" />
                        </div>
                    </div>
                </p>
                <div class="note">
                    Be aware of the fact that Twitter restricts the maximum number of retrieved Tweets, so you may not get every results.<br/>
                    If this appends, reduce the dates range in order to get more specific results and try to be more specific with your search criteria.
                </div>
            </div>

            <h3 class="search-subtitle">3. Draw a circle on the map in order to filter the Tweets by location</h3>
            <div class="search-subcontent">
                <!-- This div will contain the static mode's map. -->
                <div class="search-map" id="staticMap"></div>
            </div>

            <h3 class="search-subtitle">4. Finally select the language in which you want the Tweets to be written</h3>
            <div class="search-subcontent">
                <select class="form-control" id="staticLanguage">
                    <option value="">Any Language</option>
                </select>
            </div>

            <br/>

            <div class="alert alert-danger error-search" id="errorStaticSearch"></div>

            <div class="note note-static-search">The search may take time, so please be patient.</div>
            <button class="btn btn-primary btn-static-search" id="viewStaticResultsBtn">View Results!</button>
        </div>
    </div>
</div>
