<div class="search-content" id="searchContent">
    <h1 class="search-title">Let's follow a Twitter's Streaming...</h1>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="searchTabs" role="tablist">
        <li role="presentation" class="active"><a href="#dynamic" aria-controls="dynamic" role="tab" data-toggle="tab">Dynamic Mode</a></li>
        <li role="presentation"><a href="#static" id="tabStatic" aria-controls="static" role="tab" data-toggle="tab">Static Mode</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="dynamic">
            <h3 class="search-first-subtitle">1. First enter keyword(s)</h3>
            <div class="search-subcontent">
                <div class="form-group">
                    <label for="keywordSetOr">Keyword(s) set (max. 60 characters)</label>
                    <input type="text" class="form-control" id="streamingFirstKeywordSetOr" placeholder="One of these keywords...">
                    <input type="text" class="form-control group-field-bottom" id="streamingFirstKeywordSetAnd" placeholder="All these keywords...">
                </div>
                <div class="form-group">
                    <label for="keywordSetOr">[Optional] Second keyword(s) set to compare against (max. 60 characters)</label>
                    <input type="text" class="form-control" id="streamingSecondKeywordSetOr" placeholder="One of these keywords...">
                    <input type="text" class="form-control group-field-bottom" id="streamingSecondKeywordSetAnd" placeholder="All these keywords...">
                </div>
            </div>

            <h3 class="search-subtitle">2. Then select a location to filter the Tweets</h3>
            <div class="search-subcontent">
                Please select a default area or draw a rectangle area on the following map.<br/>
                <table class="default-area-table">
                    <tr>
                        <td class="default-area-label">Default area:</td>
                        <td>
                            <select class="form-control horizontal-field" id="streamingDefaultArea">
                              <option value="">select an area or draw a rectangle on the map...</option>
                              <option value="switzerland">Switzerland</option>
                              <option value="usa">USA</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <!-- This div will contain the dynamic mode's map. -->
                <div class="search-map" id="dynamicMap"></div>
            </div>

            <h3 class="search-subtitle">3. Finally select the language in which you want the Tweets to be written</h3>
            <div class="search-subcontent">
                <select class="form-control" id="language">
                    <option value="usa">Any Language</option>
                </select>
            </div>

            <div class="alert alert-danger error-search" id="errorStreamingSearch"></div>

            <button class="btn btn-primary btn-search" id="startStreamingBtn">Start Streaming!</button>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="static">
            <h3 class="search-first-subtitle">1. First enter keyword(s)</h3>
            <div class="search-subcontent">
                <div class="form-group">
                    <label for="keywordSetOr">Keyword(s) set (max. 60 characters)</label>
                    <input type="text" class="form-control" id="keywordSetOr" placeholder="One of these keywords...">
                    <input type="text" class="form-control group-field-bottom" id="keywordSetAnd" placeholder="All these keywords...">
                </div>
                <div class="form-group">
                    <label for="keywordSetOr">[Optional] Second keyword(s) set to compare against (max. 60 characters)</label>
                    <input type="text" class="form-control" id="keywordSetOr" placeholder="One of these keywords...">
                    <input type="text" class="form-control group-field-bottom" id="keywordSetAnd" placeholder="All these keywords...">
                </div>
            </div>

            <h3 class="search-subtitle">2. Then enter the range of dates in which you want the Tweets to be</h3>
            <div class="search-subcontent">
                <div class="form-inline">
                    <div class="form-group search-from-date">
                        <label class="date-label" for="fromDate">From: </label>
                        <input class="form-control" id="fromDate" placeholder="DD.MM.YYYY" type="date">
                    </div>
                    <div class="form-group">
                        <label class="date-label" for="toDate">To: </label>
                        <input class="form-control" id="toDate" placeholder="DD.MM.YYYY" type="date">
                    </div>
                </div>
            </div>

            <h3 class="search-subtitle">3. Select a location to filter the Tweets</h3>
            <div class="search-subcontent">
                Please click on the map to select a starting point.
                <!-- This div will contain the static mode's map. -->
                <div class="search-map" id="staticMap"></div>

                <div class="form-inline">
                    <div class="form-group search-location-radius">
                        <span>Then select a <strong>radius</strong>: </span>
                        <input class="form-control" id="locationRadius" placeholder="1500" type="number">
                        <span> km</span>
                    </div>
                </div>
            </div>

            <h3 class="search-subtitle">4. Finally select the language in which you want the Tweets to be written</h3>
            <div class="search-subcontent">
                <select class="form-control" id="language">
                    <option value="usa">Any Language</option>
                </select>
            </div>

            <div class="form-inline search-checkbox-accelerated">
                <div class="form-group">
                    <input type="checkbox"><strong> Accelerated streaming view</strong>
                    <button>?</button>
                </div>
            </div>

            <button class="btn btn-primary btn-search" id="startStreamingBtn">View Results!</button>
        </div>
    </div>
</div>
