@* Implicit request is used to generate JavaScript code to handle routing from JavaScript code. *@
@(username: String)(implicit req: play.api.mvc.RequestHeader)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("GeoTwit - Search", username) {
    @*
    * Allows us to use router's links in the JavaScript code.
    * The first parameter is the name of the global variable that the router will be placed in.
    * The second parameter is the list of Javascript routes that are included in this router.
    *@
    @helper.javascriptRouter("jsRoutes")(
        routes.javascript.HomeController.logout,
        routes.javascript.SearchController.streamingSocket,
        routes.javascript.SearchController.staticResults,
        routes.javascript.Assets.versioned
    )

    <!-- Loads the shapefile-js library, which allows us to parse a Shapefile binary file and convert it into Json. -->
    <script src="@routes.Assets.versioned("javascripts/shp.min.js")" type="text/javascript"></script>
    <!-- Loads the search pages' JavaScript code. -->
    <script src="@routes.Assets.versioned("javascripts/search-bundle.js")" type="text/javascript"></script>

    @searchContent()
    @searchStreamingResults()
}
