<div class="streaming-results" id="streamingResults">
    <table class="results-header-table">
        <tr>
            <td>
                <h1 class="results-title" id="streamingResultsTitle">
                    <span class="fa fa-spinner fa-spin loading-icon"></span>
                    Streaming in progression...
                </h1>
            </td>
            <td class="td-stop-streaming">
                <button class="btn btn-primary btn-stop-streaming" id="btnStopStreaming">Stop Streaming</button>
                <button class="btn btn-primary btn-new-search" id="btnNewSearch" onclick="location.reload()">Make a new search</button>
            </td>
        </tr>
    </table>

    <table class="streaming-subjects">
        <tr>
            <td>
                Elapsed time: <strong id="elapsedTime">00:00:00</strong>
            </td>
            <td class="subjects-first-td first-subject-text">
                <span id="firstStreamingSubjectText">Streaming's subject: </span>
                <strong><span data-container="body" data-html="true" data-placement="bottom" data-toggle="tooltip" data-trigger="manual" id="firstStreamingSubject"></span></strong>
            </td>
        </tr>
        <tr>
            <td>
                Language: <strong id="streamingLanguage"></strong>
            </td>
            <td class="subjects-first-td second-subject-text second-results-element">
                <u>Second</u> streaming's subject:
                <strong><span data-container="body" data-html="true" data-placement="bottom" data-toggle="tooltip" data-trigger="manual" id="secondStreamingSubject"></span></strong>
            </td>
        </tr>
    </table>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="streamingResultsTabs" role="tablist">
        <li role="presentation" class="active"><a href="#map" aria-controls="map" role="tab" data-toggle="tab">Map</a></li>
        <li role="presentation"><a href="#charts" aria-controls="charts" role="tab" data-toggle="tab">Charts</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="map">
            <!-- This div will contain the map of the streaming's results. -->
            <div class="search-map" id="streamingResultsMap"></div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="charts">
            <div>Charts related to <strong>Tweets <u>having</u> geolocation tags</strong>:</div>
            <div class="charts-container">
                <div class="chart-container">
                    <canvas id="chartTotalReceivedTweets" height="300"></canvas>
                </div>
                <div class="chart-container">
                    <canvas id="chartTweetsReception" height="300"></canvas>
                </div>
                <div class="chart-container only-multiple-streamings" id="chartPartsOfReceivedTweetsContainer">
                    <canvas id="chartPartsOfReceivedTweets" height="300"></canvas>
                </div>
            </div>
            <hr/>
            <div>Charts related to all kinds of Tweets (<strong>with and <u>without</u> geolocation tags</strong>):</div>
            <div class="charts-container">
                <div class="chart-container">
                    <canvas id="chartWithoutGeolocation" height="300"></canvas>
                </div>
                <div class="chart-container">
                    <canvas id="chartWithoutGeolocationCurrent" height="300"></canvas>
                </div>
                <div class="chart-container">
                    <canvas id="chartGeolocationComparison" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>

    <table class="tweets-content-results">
        <tr>
            <td>
                <h4 class="received-tweets-title">Received Geolocated Tweets</h4>
            </td>
            <td class="number-of-received-tweets">
                <span class="first-subject-text"><span id="firstStreamingNumberText">Number of received Tweets: </span><strong id="firstStreamingNumber">0</strong></span><br/>
                <span class="second-subject-text second-results-element">Number of received Tweets for the <u>second</u> streaming: <strong id="secondStreamingNumber">0</strong></span>
            </td>
            <td class="tweets-reception-speed">
                <span class="first-subject-text"><span id="firstStreamingSpeedText">Average speed: </span><span class="first-streaming-speed" id="firstStreamingSpeed">0 Tweet(s) / minute</span></span><br/>
                <span class="second-subject-text second-results-element"><u>Second</u> streaming's average speed: <span class="second-streaming-speed" id="secondStreamingSpeed">0 Tweet(s) / minute</span></span>
            </td>
        </tr>
    </table>

    <div class="no-tweet-received" id="noTweetReceivedText">No received Tweet yet.</div>
    <div class="max-number-displayed-tweets" id="maxNumberDisplayedTweets">You can see the last <span id="numberTweetsMax"></span> received Tweets below:</div>
    <div class="tweets-content-streaming" id="streamingTweetsContent"></div>
</div>
