@blue-color: #286090;
@dark-blue-color: #1e476a;
@subtitles-margin-bottom: 0.4em;
@subtitles-margin-top: 1em;
@group-fields-spacing: 0.3em;
@gray-color: #888;

// ================================== LAYOUT ===================================
@font-face {
   font-family: raleWay;
   src: url("../fonts/Raleway-Medium.ttf");
}

body {
    font-family: raleWay;
}

.header, .header-decoration, .content-container, .footer {
    margin-left: 50%;
    min-width: 800px;
    transform: translateX(-50%);
    width: 70%;
}

.header, .header-decoration, .footer {
    background-color: @blue-color;
    border: 1px solid @blue-color;
    color: white;
    padding: 1vh 2vw;
}

.header-title {
    font-size: 2.5em;

    &:hover, &:active, &:focus {
        outline: 0;
    }
}

.header-logo {
    height: 2em;
    margin: 0.05em 0 0.15em;
}

.header-right {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.welcome-message {
    margin-right: 10px;
}

.disconnect-button {
    box-shadow: 0 0 1px #222;
}

.header-decoration {
    margin-top: 0.5vh;
}

.content-container {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 4vh 2vw;
    position: relative;
}

.tooltip-inner {
    background-color: #222;
    min-width: 100px;
}

.home-about-links-container {
    float: right;
}

.home-link, .about-link {
    color: white;
    text-decoration: underline;

    &:hover, &:active, &:focus {
        color: #ccc;
    }
}

.home-link {
    font-weight: bold;
    margin-right: 2em;
}



// ================================= HOME PAGE =================================
.home-page {
    background: rgba(0, 0, 0, 0) url("../images/home.jpg") no-repeat center 0 / cover;
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
}

.connection-button{
    position: absolute;
    right: 1em;
    top: 1em;
}

.home-title {
    margin-top: 5%;
    width: 30vw;
}

.home-slogan {
    color: @dark-blue-color;
    font-size: 1.2vw;
}

.get-started-button {
    bottom: 13vh;
    border-color: #aaa;
    font-size: 1.3vw;
    left: 0;
    margin-left: 50%;
    padding: 0.8vh 1vw;
    position: absolute;
    transform: translateX(-50%);

    &:hover, &:active, &:focus {
        border-color: white;
        outline: 0;
    }
}

.home-error {
    bottom: 1vh;
    left: 0;
    margin-left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

// ================================ ABOUT PAGE =================================
.about-title {
    margin: 0 0 0.5em;
}

// ================================ SEARCH PAGE ================================
.search-title {
    margin-bottom: 5vh;
}

.nav-tabs a:active, .nav-tabs a:focus {
    outline: 0;
}

.tab-content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #ddd #ddd;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
    padding: 1vh 1vw 3vh 1vw;
}

.search-first-subtitle {
    margin: 0.5em 0 @subtitles-margin-bottom 0;
}

.search-subtitle {
    margin: @subtitles-margin-top 0 @subtitles-margin-bottom 0;
}

.search-subcontent {
    margin: 0 2vw;
}

.group-field-bottom {
    margin-top: @group-fields-spacing;
}

.progress-upload {
    display: none;
    margin: 1em 0;
}

.upload-error {
    display: none;
    margin-top: 1em;
}

.default-area-table {
    margin-top: @group-fields-spacing;
    width: 100%;
}

.default-area-label {
    font-weight: bold;
    padding-right: 0.8vw;
    white-space: nowrap;
    width: 0;
}

.search-map {
    border: 1px solid black;
    height: 550px;
    margin-top: ~"calc(2 * @{group-fields-spacing})";
    width: 100%;
}

.note {
    color: @gray-color;
    font-size: 0.9em;
    font-style: italic;
    margin-bottom: 0.5em;
}

.date-note {
    margin-bottom: 1em;
}

.error-search {
    display: none;
    margin: 2em 0 0 0;
}

.btn-dynamic-search, .note-static-search {
    margin-top: @subtitles-margin-top;
}

.btn-dynamic-search, .btn-static-search {
    font-size: 2em;
    width: 100%;
}

.one-week-ago-label {
    color: red;
}

.search-from-date {
    margin-right: 5vw;
}

.date-label {
    margin-right: 1vw;
}

.search-location-radius {
    margin-top: ~"calc(2 * @{group-fields-spacing})";
}

.search-checkbox-accelerated {
    margin-top: @subtitles-margin-top;
}

.loading-icon {
    margin-right: 0.5em;
}

.streaming-results, .static-results {
    display: none;
}

.results-header-table {
    margin: 20px 0 5vh 0;
    width: 100%;
}

.results-title {
    margin: 0;
}

.td-stop-streaming {
    text-align: right;
}

.btn-stop-streaming, .btn-new-search, .btn-new-search-static-mode {
    font-size: 1.5em;
    width: 14vw;
}

.btn-new-search {
    display: none;
}

.charts-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.chart-container {
    border: 1px solid black;
    flex-basis: 31%;
    padding: 1em;
    margin: 1em 1%;
}

.only-multiple-streamings {
    display: none;
}

.elapsed-time {
    float: left;
}

.streaming-subjects {
    margin-bottom: 1em;
    width: 100%;
}

.subjects-first-td {
    padding-right: 0.5em;
    text-align: right;
}

.tweets-content-results {
    margin: 1.5em 0 0.4em 0;
    width: 100%;
}

.received-tweets-title {
    margin: 0;
}

.number-of-received-tweets {
    text-align: center;
}

.number-of-static-tweets {
    text-align: right;
}

.first-subject-text {
    color: #2981ca;
}

.second-subject-text {
    color: #ff6f27;
}

.second-results-element {
    display: none;
}

.tweets-reception-speed {
    text-align: right;
    width: 40%;
}

.first-streaming-speed, .second-streaming-speed {
    color: #ff2400;
    font-weight: bold;
}

.no-tweet-received, .max-number-displayed-tweets {
    color: @gray-color;
    font-style: italic;
    margin-top: 1.5em;
}

.max-number-displayed-tweets {
    display: none;
}

.tweets-content, .tweets-content-streaming {
    border: 1px solid #ddd;
    line-height: 2em;
    height: 300px;
    overflow: auto;
    padding: 0.5em 1em;
}

.tweets-content-streaming {
    display: none;
}
