// ================================== LAYOUT ===================================
@font-face {
   font-family: caviarDreams;
   src: url("../fonts/CaviarDreams.ttf");
}

@font-face {
   font-family: raleWay;
   src: url("../fonts/Raleway-Medium.ttf");
}

body {
    font-family: raleWay;
}



// ================================= HOME PAGE =================================
.home-page {
    background: rgba(0, 0, 0, 0) url("../images/home3.jpg") no-repeat center 0 / cover;
    height: 100vh;
    text-align: center;
    width: 100%;
}

.helper {
    display: inline-block;
    height: 10%;
    vertical-align: middle;
}

.home-title {
    color: #286090;
    font-family: caviarDreams;
    font-size: 7.5vw;
    font-weight: 600;
    letter-spacing: 0.3vw;
    text-shadow: 0px 0px 7px white;
}

.home-slogan {
    color: #1e476a;
    font-size: 1.2vw;
}

.get-started-button {
    bottom: 13vh;
    border-color: #aaa;
    font-size: 1.3vw;
    left: 0;
    margin-left: 50%;
    padding: 0.8vh 1vw;
    position: absolute;
    transform: translateX(-50%);

    &:hover, &:active, &:focus {
        border-color: white;
        outline: 0;
    }
}
